{% extends "index.html" %}
{% block title %}Device Update{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex flex-column bg-white p-5 border border-primary rounded align-content-center"  style="margin-top: 30px;">
  <h1>Update Device</h1>
  <form method="POST" action="/device/update/{{ device.id }}">
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Device Name" id="device_name" name="name" value="{{device.name}}">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Room Name" id="room_name" name="room_name" value="{{device.room_name}}">
    </div>
    <div class="d-flex flex-row" >
      <button type="submit" class="btn btn-primary me-1 w-50">Submit</button>
      <button type="cancel" class="btn btn-primary w-50">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}