/* @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Playfair+Display:400,400i,700,700i'); */

body {
    font-family: 'Lato';
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    background: url("/static/images/luca-bravo-272609.webp") no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(25,29,34,.4);
}

header .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    min-height: 300px;
    padding: 0 10px;
    text-align: center;
}

header .hero h1 {
    font-family: 'Playfair Display';
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

header .hero p {
    font-family: 'Lato';
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    z-index: 4;
}

header nav {
    z-index: 4;
    width: 960px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

header nav .logo {
    background: url('images/pwa-light.png') no-repeat top left;
    background-size: 100px 37px;
    width: 100px;
    height: 37px;
    text-indent: -9999px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    margin-right: 0;
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

header nav ul li a {
    padding: 3px 15px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    display: block;
    transition: all .2s ease-in-out;
    letter-spacing: .05em;
    cursor: pointer;
}

header nav ul li a:hover {
    color: #f36;
}

main {
    margin: 0 auto;
    max-width: 960px;
}

main h2 {
    text-align: center;
}



.card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1em;
    position: absolute;
    top: 25%;
}

.card h3 {
    font-family: 'Playfair Display';
}

.photo-credit {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

.photo-credit.no-curves {
    border-radius: 0;
}

.add-button {

  padding: 1em .5em;
  border: none;
  border-radius: 5px;
  background-color: #34A5DA;
  cursor: pointer;
  color: #FFFFFF;
}

.offline-notification {
    display: none;
    padding: 1em;
    text-align: center;
}

.offline-notification.show {
    background-color: red;
    color: white;
    display: block;
}

@media screen and (max-width: 960px) {
    main {
        max-width: 768px;
    }

    header nav {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    main {
        max-width: 480px;
    }

    header nav {
        width: 480px;
    }

    #about {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    main {
        max-width: 320px;
    }

    header nav {
        width: 320px;
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        margin: 10px 0;
    }
}

@media screen and (max-width: 320px) {
    main {
        max-width: 240px;
    }

    header nav {
        width: 240px;
    }
} 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}


.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 200px;
    background: #fff;
    margin: 10px 10px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 320px;

}

.container .card .imgBx {
    position: relative;
    text-align: center;
    width: 260px;
    height: 180px;
    top: -60px;
    z-index: 1;
    left: 6%;
}

.container .card .imgBx img {
    max-width: 100%;
    max-height: 160px;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 15px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.buttons {
    position: relative;
    display: inline-block;
    padding: 20px 36px;
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.buttons:nth-child(2) {
    background: linear-gradient(90deg, #755bea, #ff72c0)
}

.buttons:hover {
    background: linear-gradient(90deg, #55e7fc, #0162c8);
    padding: 22px 39px;
    transition: 0.4s;
}

.buttons:nth-child(2):hover {
    background: linear-gradient(90deg, #ff72c0, #755bea);
    padding: 22px 39px;
    transition: 0.4s;
}


p {
    text-align: left;
}

.appliances {
    width: 50px;
    padding: 15px;
}